<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite" parallel="classes" thread-count="3">
<test name="testGuru">
<classes>
<class name="com.snapdeal.webautomation.browserstack.search"/>
<class name="com.snapdeal.webautomation.browserstack.menubaritems"/>
</classes>
</test>
</suite>